.submit{
    border: none;
    outline:none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
font-size: 20px;
border-radius: 40px;
letter-spacing: 1px;
cursor: pointer;
background: linear-gradient(45deg,#0ef,#c800ff);
}

.footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.link{
    color: #0ef;
    text-decoration: none;
}