.form{
    display: flex;
    flex-direction:column;
justify-content: center;
align-items: center;
}
.title{
    font-size: 35px;

}
.inp{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
input{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top:40px;
    padding-right: 10px;
    font-size: 17px;
    color: #0ef;
}